{% extends "base.html" %}
{% block content %}
<h1>Forgot Password</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.phone_number.label }}<br>
        {{ form.phone_number(size=20) }}<br>
        {% for error in form.phone_number.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.dob.label }}<br>
        {{ form.dob }}<br>
        {% for error in form.dob.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.security_question.label }}<br>
        {{ form.security_question }}<br>
        {% for error in form.security_question.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.security_answer.label }}<br>
        {{ form.security_answer(size=32) }}<br>
        {% for error in form.security_answer.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.new_pin.label }}<br>
        {{ form.new_pin(size=20) }}<br>
        {% for error in form.new_pin.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.confirm_new_pin.label }}<br>
        {{ form.confirm_new_pin(size=20) }}<br>
        {% for error in form.confirm_new_pin.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <button type="submit">Reset PIN</button>
</form>
{% endblock %}
